@import url(https://fonts.googleapis.com/css?family=Lobster);
/*font-family: 'Lobster', cursive;*/
@import url(https://fonts.googleapis.com/css?family=Lobster|Libre+Baskerville);
/*font-family: 'Libre Baskerville', serif;*/


body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Libre Baskerville", serif;
  background-color: #fff;
  text-align: center;
  background-image: url("starry.jpg");
  background-size: auto 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*h2 {
  margin: 10px 10px 10px 40px;
}*/

.prodH {
  font-family: "Libre Baskerville", serif;
  display: flex;
  justify-content: center;
}

.dscrpt {
  font-family: Merriweather, Georgia, serif;
  font-size: .8rem;
  color: #1a1a1a;
  display: flex;
  margin: 10px 40px 10px 40px;
  justify-content: center;
}

.price {
  font-family: Montserrat, "Libre Baskerville", serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}


/*image center*/
#wrapper {
   height:100%;
   width: 100%;

}
#wrapper td {
   vertical-align: middle;
   text-align: center;
}

/*grid*/
.grid {
  width: auto;
}

[class*='col-'] {
  float: left;
}

.col-1-3 {
  width: 33.33%;
/*  border-style: solid;
  border-color: black;
  border-width: 1px;*/
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  box-sizing: border-box;
};

