@import url(https://fonts.googleapis.com/css?family=Lobster);
/*font-family: 'Lobster', cursive;*/
@import url(https://fonts.googleapis.com/css?family=Lobster|Libre+Baskerville);
/*font-family: 'Libre Baskerville', serif;*/


body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Libre Baskerville", serif;
  background-color: #fff;
  text-align: center;
  background-image: url("starry.jpg");
  background-size: auto 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* NAV STYLING */

li {
  list-style-type: none;
  display: inline-block;
  text-align: right;
}

li a {
  padding: 5%;
  color: #fff;
  text-decoration: none;
}

header{
/*  position: fixed;
  width: 100%;*/ 
  background-color: black;
  color: white;
  font-family: "Libre Baskerville", serif;
  margin: auto;
  padding: 10px;
}

nav li {
  font-size: .85em;
  padding: 12px 8px 12px 8px;
} 

nav li a:hover {
  color: #D5ACFC;
  position: relative;
  top: 1px;
  left: 1px;
}

header h1 a {
  color: #fff;
  float: left;
  text-decoration: none;
  display: inline-block;
}

/****Goals****/

article {
  background-color: white;
  padding: 2%;
  margin: 1% 1% 1% 1%;
  box-shadow: 2px 2px 10px black;
  width: 25%;
  float: left;
}


footer {
  position: fixed; 
  width: 100%; 
  bottom: 0;  
  color: #fff;
  font-size: .75em;
  z-index: 0;
}